/*Boton flotante*/
/* Estilos Comunes */
.botonLink:visited,
.botonLink:link,
.botonLink:active{
   background-color: rgb(230, 75, 19);
   color: white;
   border: none;
   border-radius: 10px;
   padding: 10px 20px;
   font-size: 16px;
   cursor: pointer;
   transition: background-color 0.3s ease-in-out;
   text-align: center;

   position: fixed;
   bottom: 50px;
   right: 50px;

   text-decoration: none;
}

.botonLink:hover {
   background-color: rgb(117, 33, 2);
}