<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${pageTitle}">Default Title</title>

</head>
<body>
<header th:fragment="headerFragment">
  <nav class="navbar">
    <div class="contenido">
      <ul>
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/libros}">Libros</a></li>
        <li><a th:href="@{/autores}">Autores</a></li>
        <li><a th:href="@{/busquedaAvanzada}">Buscador avanzado</a></li>
      </ul>
    </div>
  </nav>
</header>
</body>
</html>

<!DOCTYPE html>
