<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Libros</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<!--Header -->
<div th:replace="fragments/header :: headerFragment"></div>
<main>
    <section>
        <form class="buscador" action="#" method="get">
            <input type="text" name="search" placeholder="Buscar libro...">
            <button type="submit">Buscar</button>
        </form>
    </section>

    <!--Contenedor de libros -->
    <div class="Libros">
        <div class="contenido" th:each="libro : ${libros}">
            <h2 th:text="${libro.nombre}">Título Libro</h2>
            <div class="imagen">
                <img th:src="${libro.rutaPortada}" alt="${libro.nombre}">
            </div>
            <div class="boton">
                <button>Ver Libro</button>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="BotonesFlotantes">
        <div class="añadirBtn">
            <a class="botonLink" href="/MongoDB-Conexion/src/main/resources/templates/proyecto.html">Añadir
                Libro</a>
        </div>
        <div class="EliminarBtn">
            <a class="botonLink2" href="/MongoDB-Conexion/src/main/resources/templates/proyecto.html">Eliminar
                Libro</a>
        </div>
        <div class="EditarBtn">
            <a class="botonLink3" href="/MongoDB-Conexion/src/main/resources/templates/proyecto.html">Editar
                Libro</a>
        </div>
    </div>
</footer>
</body>
</html>

